name: 02-workflow Events

on: 
    pull_request:
    workflow_dispatch:       

jobs:
    echo-hello:
        runs-on: ubuntu-latest
        steps:
            - name: Show the triggering event
              run: echo "The event that triggered by a(n) ${{ github.event_name }} event"
